<%= turbo_frame_tag dom_id(@workout_log, :comments) do %>
  <div class="px-4 pb-3 border-t border-gray-800">
    <div class="flex justify-end pt-2 pb-1">
      <button type="button"
              onclick="this.closest('turbo-frame').innerHTML = ''"
              class="text-xs text-gray-600 hover:text-gray-400 transition-colors">
        Hide comments
      </button>
    </div>
    <div id="<%= dom_id(@workout_log, :comment_list) %>">
      <% if @comments.any? %>
        <%= render @comments %>
      <% end %>
    </div>
    <%= render "comments/form", workout_log: @workout_log, comment: @comment %>
  </div>
<% end %>
